<htmL>
    <head>
        <title>
                {{title}}
        </title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <script>
           async function postData(url = '', data = {}) {
  // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *client
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return await response.json(); // parses JSON response into native JavaScript objects
            }
       </script>
      </head>
    <Body>
                    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">GoGaga</a>
                </div>
                <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/gogaga/add">Post Page</a></li>
                <li><a href="/gogaga/list">List Page</a></li>
                </ul>
            </div>
</nav>
         <form >
            <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input id="name" class="form-control" placeholder="Enter Name" type="text" label="name"/>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
            <label for="exampleInputEmail1">Age</label>
            <input id="age" class="form-control" type="text" placeholder="Enter Age" label="age"/>
            </div>
            <button id="button" class="btn btn-primary" type="submit">Submit</button>
        
       </form>

       <a href="/gogaga/list" class="btn btn-primary" >All Friends</Button>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
const nameField=document.getElementById('name');
const ageField=document.getElementById('age');
document.getElementById('button').addEventListener('click',(event)=>{
        event.preventDefault()
        const name =document.getElementById('name').value
        let age =document.getElementById('age').value
        postData('/gogaga/add', { name,age })
            .then((response)=>{
                if(response.error==null)
                    {
                    alert('Saved')
                    }
                else{
                    alert(response.error.message)
                    }
                })  
                })
    </script>
     <meta name="viewport" content="width=device-width, initial-scale=1">
 
    </Body>
</htmL>